<!DOCTYPE HTML>
		<!-- It's a navigation bar... corner... thing. -->
		<div class="navbar">
					<% if(user) { %>
			<div class="userInfo" style="">
				<strong>Welcome, <span style="color:#88cccc"><%= user.name %></span>!</strong>
			</div>
			<div class="logoutButton">
				<a href="/logout">Log Out</a>
			</div>
		<% } 
		else { %>
			<div class="loginButton">
				<a href="/login">Log In</a>
			</div>
		<% } %>
		</div>