<!DOCTYPE HTML>
		<!-- It's a navigation bar... corner... thing. -->
		<div class="navbar" style="position:fixed; top:0; right:0; border-bottom: 3px solid #88cccc; border-left: 3px solid #88cccc; border-bottom-left-radius: 3px; padding: 5px; width:25%">
			<span style="color:orange">This is a test of the emergency navbar broadcasting system.</span>
		</div>