<!DOCTYPE html>

<html>
	<head>
		<title>Database Entry Form</title>
	</head>
	<body>
		<h1>Add a new item!</h1>
		<p>Please use the form below to enter item data.</p>
		<form action="/addNewEntry" METHOD="POST"> <!--Takes the input data and tells the server to treat it acccordingly. -->

		<strong>Item Name</strong>: 
		<input type="text" name="name" style="border:1px solid gray">
		<br>

		<strong>Item Description</strong>: 
		<input type="text" name="desc" style="border:1px solid gray">
		<br>

		<strong>Item Price</strong>: 
		<input type="number" name="price" min="0" style="border:1px solid gray">
		<br>

		<strong>Item Color</strong>: 
		<input type="text" name="color" value="black" style="border:1px solid gray">
		<br>

		<input type="submit" value="Submit New Entry" style="border:2px solid black">
		<br>
		<br>
		<p>Just added something and want to check whether it's there? Click <a href='/viewAll' style='text-decoration:none; color:orange'>here</a> to see an updated items list!</p>
	</body>
</html>