<!DOCTYPE html>

<html>
	<head>
		<title>Database Entry Form</title>
		<link rel="stylesheet" type="text/css" href="teststyle.css">
	</head>
	<body>
		<%- include('../partials/navbar') %>
		<h1>Add a new item!</h1>
		<p>Please use the form below to enter item data.</p>
		<form action="/addNewEntry" METHOD="POST"> <!--Takes the input data and tells the server to treat it acccordingly. -->

			<strong>Item Name</strong>: 
			<input class="itemEntry" type="text" name="name" placeholder="Item Name">
			<br>

			<strong>Item Description</strong>: 
			<input class="itemEntry" type="text" name="desc" placeholder="Item Description">
			<br>

			<strong>Item Price</strong>: 
			<input class="itemEntry" type="number" name="price" min="0" placeholder="Item Price">
			<br>

			<strong>Item Color</strong>: 
			<input class="itemEntry" type="text" name="color" placeholder="Item Color (Random if left blank!)">
			<br>

			<input type="submit" value="Submit New Entry" style="border:2px solid black">
		</form>
		<br>
		<div>
			<p>Click <a href="/viewAll">here</a> to return to the items list!</p>
			<% if(itemAdded) { %>
				<p>Item successfully added to the database!</p>
			<% } %>
		</div>
	</body>
</html>
