<!DOCTYPE html>

<html>
	<head>
		<title>This is a webpage!</title>
	</head>
	<body>
		<h1>This is a header (1)!</h1>
			<p>This is a paragraph.</p>
		<h2>This is another header.</h2>
			<ul>
				<li>list.</li>
				<li>an</li>
				<li>This</li>
				<li>unordered</li>
				<li>is</li>
			</ul>
		<h3>This is yet another header.</h3>
			<ol>
				<li>This list is in order. Unfortunately, it is also short.</li>
			</ol>
		<h4>This is also a header. (4)</h4>
			<form action="/" METHOD="POST">
				<strong>Name:</strong>
				<br>
				<input type="text" name="name" style="border: 2px solid #88cccc">
				
				<input type="submit" value="Submit" style="border:2px solid black; transform: rotate(90deg)">
			</form>
		<h5>This is a header (5).</h5>
			<p>The text you entered in the form above should appear below here!</p>
			<div style='height:100px; display:inline-block; background-color:black; color:white'><%= username %></div>
		<div style='float: right; width: 10%; height:100%'>
			<p style='text-align: center; transform: rotate(90deg)'><a href="/viewAll">Click here to view the items database!</a></p>
		</div>
	</body>
</html>