<!DOCTYPE html>
<!-- This is a comment. -->
<html>
	<head>
		<title>Index Page Title! Enthusiasm!</title>
		<link rel="stylesheet" type="text/css" href="teststyle.css">
	</head>
	<body>
		<%- include('../partials/navbar') %>
		<% if(!user) { %> <!-- Yes, I realize this is a bit of a flawed execution of the name entry. 
		It is just an example, though! -->
		<h1>Greetings, random citizen!</h1>
		<p>Please log in using the button in the top-right corner!</p>
		<% }
		else { %>
			<h1>Welcome, <%= user.name %>!</h1>
		<% } %>
		<hr>
		<p>Currently, the following pages are undergoing testing:</p>
		<ul>
			<li><strong><a href="/viewAll">Lost & Found</a></strong> - View and manage the items within the database!</li>
			<li><strong><a href="/login">Login</a></strong> - Test user authentication!</li>
		</ul>
	</body>
</html>