<!DOCTYPE html>
<!-- This is a comment. -->
<html>
	<head>
		<title>Index Page Title! Enthusiasm!</title>
		<!-- <link rel="stylesheet" type="text/css" href="teststyle.css"> -->
	</head>
	<body>
		<%- include('../partials/navbar') %>
		<% if(!username) { %> <!-- Yes, I realize this is a bit of a flawed execution of username entry. 
		It is just an example, though! -->
		<h1>Greetings, random citizen!</h1>
			<div style="background-color:black; color:white; border:2px solid orange; padding:5px">
				Want to be called something specific once? You're in luck!<br>
				<form action="/" METHOD="POST">
					<input type="text" name="name" style="border:1px solid gray; background-color:white; color:black" placeholder="Enter your desired name here!"> 
					<input type="submit" value="Submit" style="border:1px solid white; background-color:black; color:white">
				</form>
			</div>
		<% }
		else { %>
			<h1>Welcome, <%= username %>! <a href="/" style="text-decoration:none"><button type="button" style="border:2px solid orange; background-color:black; color:white; padding:3px; margin:10px">Log Out (sorta...)</button></a></h1>
		<% } %>
		<hr>
		<p>Currently, the following pages are undergoing testing:</p>
		<ul>
			<li><strong><a href="/viewAll" style="text-decoration:none; color:orange">Lost & Found</a></strong> - View and manage the items within the database!</li>
		</ul>
	</body>
</html>