<!DOCTYPE HTML>
<html>
	<head>
		<title>Log in!</title>
		<!--- CSS Link goes here -->
	</head>
	<body>
		<h3 style="color:#88cccc"><strong>Please enter your information below.</strong></h3>
		<form action="/login" METHOD="POST">
			<div style="display:inline-block; border:5px solid black; border-radius:5px; background-color:#dddddd; margin:3px; padding: 5px">
				<label><strong>Username:</strong></label>
				<input type="text" name="username" placeholder="Enter username here">
				<br>
				<label><strong>Password:</strong></label>
				<input type="password" name="password" placeholder="Enter your password here.">
				<br>
				<input type="submit" value="Log In">
			</div>
		</form>
		<br>
		<p>Alternatively, <a href="/" style="text-decoration:none; color:orange">click here</a> to return to the index page!</p>
	</body>
</html>
