<!DOCTYPE HTML>
<html>
	<head>
		<title>Thank you for registering!</title>
		<link rel="stylesheet" type="text/css" href="teststyle.css">
	</head>
	<body>
		<%- include('../partials/navbar') %>
		<h3>Thank you for registering!</h3>
		<p><a href="/">Click here</a> to return to the index page.</p>
		<p>Remember to <a href="/login">log in</a>!</p>
	</body>
</html>
